@font-face {
  font-family: 'Avenir Next';
  src: url('/Assets/fonts/regular.otf') format('otf');
  }


@mixin h1-herofont {
  font-size:60px;
  line-height: 68px;
}

@mixin h1-font {
font-size: 36px;
line-height: 44px;
}

@mixin h2-font {
  font-size: 24px;
  line-height: 32px;
}

@mixin h3-font {
  font-size: 16px;
  line-height: 24px;
}
@mixin h4-font {
  font-size: 14px;
  line-height: 22px;
}
@mixin h5-font {
  font-size: 12px;
  line-height: 20px;
}

$primary-font: 'Avenir Next';
$secondary_font-color: white;



body {
  font-family: $primary-font, sans-serif;
}

.header_logo {

  @include h2-font;
  font-weight: normal;

 
}



.nav-buttons a {
  @include h4-font;
  
}



.bg_caption {
 @include h1-herofont;
  color: $secondary_font-color;
}

.about_container {
  font-size: 24px;
}


.about_caption {
 @include h1-font;

 }

.about_title {
  font-weight: bold;
  @include h2-font;
}
.about_quote {

  @include h2-font;
  font-weight: bold;
display: inline-block;

}

.about_name {
  @include h3-font;
font-weight: bold;
}

.about_contentcard {
  @include h4-font;
}

.gallery_font {

  font-weight: bold;
  @include h1-font;
  
}
.footer_logo {

  @include h2-font;
  font-weight: normal;

}

.footer_human {

 @include h3-font;

.name_bold {
  font-weight: bold;
}
}
.footer_copyright--font {
  color: $secondary_font-color;
  padding-left: 180px;

}

.footer_container .footer_font {
  
  color: white;
  
}   



