/*desktop photo gallery*/

* {
  box-sizing: border-box;
}
.gallery_font {
  padding-top: 48px;
  padding-left: 180px;
  padding-bottom: 48px;
}

.gallery_container {
  background-color: #FAFAFA;
  display: flex;
  flex-flow: column wrap;
}

.galleryimgs-container {
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}



/*comment section */

.comment_container--big {
  width: 100%;
  padding-left:$desktop-padding; 
  display: flex;
  flex-flow: column wrap;
  align-items: center; 
}

.comment_font {
  padding-top: 48px;
    padding-bottom: 56px;
}
.comment_section_container--small {
  width:100%;
  padding-left: 250px;
  padding-right:450px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}
.comment_section_container--small2 {
  width:100%;
  padding-left: 200px;
  padding-right:100px;
  display: flex;
flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.comment_header {
  align-self: flex-start;
 width: 100%;
}

form {
  width: 100%;
}

.form_style {
  width: 100%;
  display: flex;
  flex-direction: column;

}
label {
  width:100%;
padding-bottom: 8px;
  display: block;
}

input[type='text'] , textarea{
  border: 2px solid #323232;
  border-radius: 4px;
  height: 48px;
 width:100%;
 padding-left: 16px;
 margin-bottom: 24px;
}

textarea {
resize: none;
height: 116px;
padding-top: 14px;
}

.singer_icon {
padding-top:25px;
padding-right: 20px;
padding-left: 45px;

}

.static_comments {
  display:flex;
  flex-flow: column wrap;
}

.static_comment {
  width: 100%;
  display: flex; 
  padding-top: 24px;
  border-top: 2px solid rgb(175, 184, 193);
}


.static_comment:nth-child(2) {
  margin-top: 24px;
}
.comment_content {
  padding-bottom: 24px;
}

.comment_name {
  padding-top: 24px;
  padding-bottom: 8px;
  padding-right: 10px;
  margin: 0;
  display: inline-block;
}

