/*desktop photo gallery*/

* {
  box-sizing: border-box;
}
.gallery_font {
  padding-top: 48px;
  padding-left: 180px;
  padding-bottom: 48px;
}

.gallery_container {
  background-color: #FAFAFA;
  display: flex;
  flex-flow: column wrap;
}

.galleryimgs-container {
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}

img {
  width: 344px;
  height: 193px;
}

.gallery_img {
  display: flex;
  padding-right: 24px;
  padding-bottom: 24px;
}

/*comment section */

.comment_container--big {
  width: 100%;
  padding-left:$desktop-padding; 
  display: flex;
  flex-flow: column wrap;
  align-items: center; 
  
}

.comment_font {
  padding-top: 48px;
    padding-bottom: 56px;
}
.comment_section_container--small {
  width:90%;
  height: 800px; //change later
  display: flex;
flex-flow: row wrap;
  align-items: flex-start;
  
  

}

.comment_header {
  align-self: flex-start;
 width: 100%;
}


form {
  
  width: 80%;

}
.form_style {
  padding-right: 170px;
  width: 90%;
  display: flex;
  flex-flow: column wrap;
 align-items: flex-end;
}
label {
  width:85%;
padding-bottom: 8px;
  display: block;
}



input[type='text'] , textarea{
  border: 2px solid #323232;
  border-radius: 4px;
  height: 48px;
 width:85%;
 padding-left: 16px;
 margin-bottom: 24px;
}



textarea {
resize: none;
height: 116px;
padding-top: 14px;
}

.singer_icon {
  padding-left: 80px;
padding-top:25px;
padding-right: 20px;


}

