
.main_table {
  width: 100%;
  
}

.table_position {
  margin-left: 375px;
  margin-bottom: 40px;
  border-collapse: collapse;
  border: none;
  width: 76.6%;
}

table td {
 
  border-bottom: 1px solid #AFAFAF;
}




th, td {
  text-align: left;
  padding: 20px;

}

